#sub-doc-list-container {
    margin-top: 80px;
    margin-bottom: 80px;
    width: 45%;
    padding-top: 40px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

#sub-doc-list-content {
    height: 430px;
}

@media (max-width: 768px) {
    #sub-doc-list-container {
        width: 90%;
    }
}